
body {
  padding: 10vh 0;
}

.title-section {

  .title {
    display: flex;

    img {
      margin-left: -24px;
      margin-right: 8px;
    }
  }
}

form {
  display: flex;
  margin-bottom: 32px;

  input {
    flex-grow: 1;
    padding: 10px 0;
    border: none;
    //font-size: 0.875em;
    font-size: 1em;
    font-style: italic;
    color: $colorBlue;
    float: left;

    &:focus {
      outline: none;
      font-weight: 500;
    }

    &::placeholder {
      color: #e1e1e1;
    }
  }

  button {
    font-size: 0.875em;
    padding: 10px 16px;
    color: $colorBlue;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgba($colorBlue,.1);
    float: right;

    &:hover {
      background-color: rgba($colorBlue,.2);
    }

    &:active {
      background-color: $colorBlue;
      color: $colorWhite;
    }

    &:disabled {
      color: #e1e1e1;
    }
  }
}

.tasks-flex {
  margin-bottom: 32px;

  ul {
    list-style: none;
    padding: 0;

    ul {
      width: calc(100% + 64px);
      margin-left: -64px;
      border-radius: 3px;
      transition-duration: .2s;
      display: flex;

      &:hover {
        color: $colorDark;
        background-color: rgba($colorBlue,.15);

        .id { color: rgba($colorBlue, .5); }
        .status .check, .tags .tag { background-color: $colorWhite; box-shadow: 0 2px 4px rgba($colorBlue,.15); }
        .tags, .category { visibility: inherit; }
      }

      li {
        font-size: 0.875em;
        line-height: 56px;
        flex-grow: 1;

        a {
          color: darken($colorGrey, 10%);
          font-weight: 500;
          text-decoration: none;
        }

        &.id {
          max-width: 64px;
          font-size: 0.750em;
          font-weight: 500;
          color: rgba($colorBlue, 0);
          text-align: right;
          padding-right: 16px;
        }

        &.status {
        max-width: 20px;

          .check {
            width: 20px;
            height: 20px;
            //background-color: rgba($colorBlue,.1);
            @include backgroundColor($colorGrey,$alphaTen);
            border-radius: 2px;
            border: none;
            vertical-align: middle;
            margin-top: -2px;

            &:active {
              background-color: $colorBlue;
            }
          }
        }

        &.title {
          width: 20px;
          flex-grow: 10;
          padding-left: 24px;

          .note {
            margin-top: -8px;
            margin-bottom: 16px;
          }
        }

        &.tags {
          flex-basis: 60px;
          text-align: right;
          padding-right: 12px;
          visibility: hidden;

          .tag {
            //color: darken($colorGrey, 15%);
            //color: $colorGrey;
            font-size: 0.750em;
            font-weight: 500;
            padding: 4px 8px;
            margin: 0 2px;
            border-radius: 2px;
            background-color: lighten($colorDark, 85%);
          }
        }

        &.category {
          //flex-basis: 80px;
          color: $colorGrey;
          font-size: 0.750em;
          flex-basis: 40px;
          text-align: right;
          padding-right: 12px;
          visibility: hidden;
        }

        &.due {
          //flex-basis: 280px;
          flex-grow: 1;
          font-size: 0.750em;
          color: $colorGrey;
          text-align: right;
          padding-right: 16px;
        }

        /*&.notes {
          max-width: 40px;
          text-align: center;
        }*/
      }
    }
  }
}

.tasks-flex.completed {
  ul {

    ul {

      li {

        &.status {

          .check {
            background-color: $colorBlue;

            &:active {
              background-color: $colorWhite;

              img { display: none;}
            }
          }
        }
      }
    }
  }
}
