
body {
  padding: $size-enormous;
}

header {
  display: flex;
  margin-bottom: $size-huge;

  h1 {
    width: 50%;
  }

  .active-tasks {
    width: 50%;
    font-size: $font-size-small;
    font-weight: 500;
    text-align: right;
  }
}

.title-section {

  .title {
    display: flex;

    img {
      margin-left: -$size-large;
      margin-right: $size-x-small;
    }
  }
}

form {
  display: flex;
  margin-bottom: $size-huge;

  input {
    flex-grow: 1;
    padding: $size-x-small 0;
    border: none;
    //font-size: 0.875em;
    font-size: $font-size-small;
    font-style: italic;
    color: $color-blue;
    float: left;

    &:focus {
      outline: none;
      font-weight: 500;
    }

    &::placeholder {
      color: #e1e1e1;
    }
  }

  button {
    font-size: $font-size-small;
    padding: $size-x-small $size-medium;
    color: $color-blue;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgba($color-blue,.1);
    float: right;

    &:hover {
      background-color: rgba($color-blue,.2);
    }

    &:active {
      background-color: $color-blue;
      color: $color-white;
    }

    &:disabled {
      color: #e1e1e1;
    }
  }
}

.tasks-flex {
  margin-bottom: $size-x-large;

  ul {
    list-style: none;
    padding: 0;

    ul {
      width: calc(100% + $size-enormous);
      margin-left: -$size-enormous;
      border-radius: 3px;
      transition-duration: .2s;
      display: flex;

      &:hover {
        color: $color-dark;
        background-color: rgba($color-blue,.15);

        .id { color: rgba($color-blue, .5); }
        .status .check, .tags .tag { background-color: $color-white; box-shadow: 0 2px 4px rgba($color-blue,.15); }
        .tags, .category { visibility: inherit; }
      }

      li {
        line-height: $size-huge + $size-x-small;
        flex-grow: 1;

        a {
          color: darken($color-grey, 10%);
          font-weight: 500;
          text-decoration: none;
        }

        &.id {
          max-width: $size-enormous;
          font-weight: 500;
          color: rgba($color-blue, 0);
          text-align: right;
          padding-right: $size-medium;
        }

        &.status {
        max-width: $size-medium;

          .check {
            @include rounded($size-medium,2px);
            @include background-color($color-grey,$alpha-ten);
            border: none;
            vertical-align: middle;
            margin-top: -2px;

            &:active {
              background-color: $color-blue;
            }
          }
        }

        &.title {
          width: 20px;
          flex-grow: 10;
          padding-left: $size-large;

          .note {
            margin-top: -$size-x-small;
            margin-bottom: $size-medium;
          }
        }

        &.tags {
          flex-basis: 60px;
          text-align: right;
          padding-right: $size-small;
          visibility: hidden;

          .tag {
            //color: darken($color-grey, 15%);
            //color: $color-grey;
            font-weight: 500;
            padding: $size-tiny $size-x-small;
            margin: 0 2px;
            border-radius: 2px;
            background-color: lighten($color-dark, 85%);
          }
        }

        &.category {
          //flex-basis: 80px;
          color: $color-grey;
          flex-basis: 40px;
          text-align: right;
          padding-right: $size-small;
          visibility: hidden;
        }

        &.due {
          //flex-basis: 280px;
          flex-grow: 1;
          color: $color-grey;
          text-align: right;
          padding-right: $size-medium;
        }

        /*&.notes {
          max-width: 40px;
          text-align: center;
        }*/
      }
    }
  }
}

.tasks-flex.completed {
  ul {

    ul {

      li {

        &.status {

          .check {
            background-color: $color-blue;

            &:active {
              background-color: $color-white;

              img { display: none;}
            }
          }
        }
      }
    }
  }
}
