
////////// <NAV> //////////

aside.sidebar {
  //width: 75%; //FIXME: Just delete this. Idk, why I haven't removed it yet.
  display: flex;
  flex-direction: column;
  //position: fixed; //FIXME: Outcommented because it believes needs a defined width. Sigh.
  a { @extend .reset-link-style; }

  .logo {
    @extend .reset-link-style;

    font-size: $font-size-large;
    font-weight: $font-weight-heavy;
    //letter-spacing: 0.250em;
    letter-spacing: $font-size-large * 0.2;
    @include font-color($color-dark,$alpha-ten);
    display: block; //<a> tags are inline elements, so I forced it to be block, in order to make margin-bottom work.
    margin-bottom: $size-x-large;
    @include transition-duration(.5s);

    &:hover { @include font-color($color-dark,$alpha-one-hundred); }
  }

  .user-container {
    @extend .reset-list-style;
    display: flex;
    margin-bottom: $size-large;

    li {
      line-height: $size-x-large;

      .user-photo { //FIXME: Make general profile-image styling. Maybe a Mixin?
        @include circle($size-x-large);
        margin-right: $size-small;
      }
      .user-name {
        color: $color-dark;
        font-size: $font-size-small;
        font-weight: $font-weight-bolder;
      }
    }
  }

  .site-info-container {
    margin-bottom: $size-x-large;
    font-weight: $font-weight-bolder;

    .global-time {
      font-size: $font-size-small;
      color: $color-blue;
    }
    .site-description {  }
  }

  nav {
    ul {
      @extend .reset-list-style;

      &.main-navigation {
        @include nav-list-vertical($font-size-small,$size-x-small $size-small,$size-small,$color-blue);
      }
      &.sub-navigation {
        @include nav-list-vertical($font-size-base,$size-x-small $size-small,$size-small,$color-dark);
      }
    }
  }
}
