
////////// <NAV> //////////
nav {

  .logo {
    font-size: 2.250em;
    font-weight: 900;
    letter-spacing: 14px;
    margin-left: -2px;
    color: $colorDark;
    display: block;
    margin-bottom: 32px;
  }

  .profile {
    @extend .disableListSyle;
    margin-bottom: 24px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 12px;
      float: left;
    }

    .name {
      color: $colorDark;
      font-weight: 700;
      font-size: 1em;
      line-height: 32px;
    }
  }

  .general {
    margin-bottom: 32px;

    .time {
      font-size: 1em;
      color: $colorBlue;
    }

    .description {
      font-weight: 600;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 8px 12px;
      border-radius: 3px;
      margin-left: -10px;
      color: #ACB8C6;
      transition-duration: .2s;

      &:hover {
        color: $colorBlue;
        background-color: rgba($colorBlue,.15);
      }

      &.active {
        color: $colorBlue;
        background-color: rgba($colorBlue,.15);
      }

      a {
        font-size: 0.875em;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
}
