
h1,h2,h3,h4,h5,h6 { margin: 0; }

body {
  font-family: "SF UI Text";
  font-size: 100%;
  font-weight: normal;
}

h1 { @include typography-headline($font-family-display,300,$font-size-large,$color-blue); }
h2 { @include typography-headline($font-family-display,500,$font-size-medium,$color-dark); }

h3 {
  font-family: "SF UI Display";
}

h4 { @include typography-headline($font-family-display,600,$font-size-small,$color-dark); }

h5 {}

p,label,li {
  font-size: $font-size-base;
  font-weight: 400;
  color: $color-grey;
  line-height: 1.5em;
}
