

body {
  font-family: "SF UI Text";
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-family: "SF UI Display";
  font-weight: 300;
  font-size: 2.250em;
  //color: #2196F3;
  //color: #11364A;
  color: #1482D6;
}

h2 {
  font-family: "SF UI Display";
  font-weight: 500;
  font-size: 1.125em;
  color: #1A1A21;
}

h3 {
  font-family: "SF UI Display";
}

p,label {
  font-weight: 600;
  font-size: 1em;
  color: #ACB8C6;
  line-height: 1.5em;
}
