
h1,h2,h3,h4,h5,h6 { margin: 0; }

body {
  font-family: "SF UI Text";
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-family: "SF UI Display";
  font-weight: 300;
  font-size: 2.250em;
  color: $mainBlue;
  margin-bottom: 48px;
  //margin-bottom: 128px;
}

h2 {
  font-family: "SF UI Display";
  font-weight: 500;
  font-size: 1.125em;
  color: $mainDark;
}

h3 {
  font-family: "SF UI Display";
}

p,label {
  //font-weight: 600;
  font-weight: 400;
  font-size: 0.750em;
  color: $mainGrey;
  line-height: 1.5em;
}

li a {
  font-size: 0.875em;
}
