
////////// COLORS //////////
$colorBlue: #2196F3;
$colorGrey: #ACB8C6;
$colorDark: #1A1A21;
$colorWhite: #ffffff;

////////// ALPHA //////////
$alphaTen: .1;
$alphaTwenty: .2;
$alphaThirty: .3;
$alphaFourty: .4;
$alphaFifty: .5;
$alphaSixty: .6;
$alphaSeventy: .7;
$alphaEighty: .8;
$alphaNinety: .9;
$alphaOneHundred: 1;

////////// SPACE //////////
