
//NAME                  VALUE               DESCRIPTION
$alpha-five:            .05;                //  5%
$alpha-ten:             .10;                // 10%
$alpha-fifteen:         .15;                // 15%
$alpha-twenty:          .20;                // 20%
$alpha-twentyfive:      .25;                // 25%
$alpha-thirty:          .30;                // 30%
$alpha-thirtyfive:      .35;                // 35%
$alpha-fourty:          .40;                // 40%
$alpha-fourtyfive:      .45;                // 45%
$alpha-fifty:           .50;                // 50%
$alpha-fiftyfive:       .55;                // 55%
$alpha-sixty:           .60;                // 60%
$alpha-sixtyfive:       .65;                // 65%
$alpha-seventy:         .70;                // 70%
$alpha-seventyfive:     .75;                // 75%
$alpha-eighty:          .80;                // 80%
$alpha-eightyfive:      .85;                // 85%
$alpha-ninety:          .90;                // 90%
$alpha-ninetyfive:      .95;                // 95%
$alpha-one-hundred:     100;                //100%
