
//NAME                  VALUE               DESCRIPTION
$color-blue:            #2196F3;
//$color-grey:            #ACB8C6;
$color-grey:            #BAC8CC;
$color-dark:            #1A1A21;
$color-white:           #ffffff;
