
// FONT FAMILY //
//NAME                  VALUE               DESCRIPTION
$font-family-display:   "SF UI Display";    //San Francisco Display
$font-family-text:      "SF UI Text";       //San Francisco Text



// FONT SIZE //
//NAME                  VALUE               DESCRIPTION
$font-size-large:       2.250rem;           //36px
$font-size-medium:      1.125rem;           //18px
$font-size-small:       0.875rem;           //14px
$font-size-base:        0.750rem;           //12px



// FONT WEIGHT //
//NAME                  VALUE               DESCRIPTION
$font-weight-heavy:     900;                //Heavy
$font-weight-bolder:    600;                //Bolder
$font-weight-bold:      500;                //Bold
$font-weight-base:      400;                //Regular
$font-weight-light:     300;                //Light
